<div class="container"> 
	 <div class="row">
	 	<div class="col-lg-6">
	 		<img class="rounded-circle mx-auto d-block" src="/images/home/logo.jpg" width="140" height="140">
	 		<h2>Mision</h2>
	 		<p  class="mb-0">Promover y fomentar el baloncesto para contribuir al desarrollo integral de las familias,
	 		   permitiéndoles a través de la práctica deportiva acceso a una mejor calidad de vida.
	 		</p>
	 	</div>
	 	<div class="col-lg-6">
			<img class="rounded-circle mx-auto d-block" src="/images/home/logo_main.jpg" width="140" height="140">
	 		<h2>Vision</h2>
	 		<p class="mb-0">Formar atletas de calidad en nuestro deporte y consolidar nuestra academia como una de las mejores promotoras de baloncesto en nuestro pais.
	 		</p>	 		
	 	</div>
	</div>
</div>