<br>
<br>
<br>
<br>
<div class="container"> 
	 <div class="row">
	 	<div class="col-lg-4">
	 		<img class="rounded-circle mx-auto d-block" src="/images/home/logo_main.jpg" width="200" height="200">
	 	</div>
	 	<div class="col-lg-8">
	 		
			<em><h1 class="text-muted text-center">Mision</h1></em>
	 		<p  class="mb-0">Promover y fomentar el baloncesto para contribuir al desarrollo integral de las familias,
	 		   permitiéndoles a través de la práctica deportiva acceso a una mejor calidad de vida.
	 		</p>
	 		<br>
	  		<em><h1 class="text-muted text-center">Vision</h1></em>
	 		<p class="mb-0">Formar atletas de calidad en nuestro deporte y consolidar nuestra academia como una de las mejores promotoras de baloncesto en nuestro pais.
	 		</p>	 		
	 	</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<div class="container"> 
	<hr>
	<em><h1 class="text-muted text-center">Entrenadores</h1></em>
	 <div class="row">
	 	<div class="col-lg-6">
	 		<img class="rounded-circle mx-auto d-block" src="/images/home/logo.jpg" width="140" height="140">
	 		<h2>Octavio de la Torre Martinez</h2>
	 		<p  class="mb-0">Entrenador nacional certificado</p>
	 		<p  class="mb-0">17 años de experiencia dedicada a la enseñanza del baloncesto con equipos de iniciacion hasta selectivos nacionales</p>
	 	</div>
	 	<div class="col-lg-6">
			<img class="rounded-circle mx-auto d-block" src="/images/home/logo_main.jpg" width="140" height="140">
	 		<h2>José Enrique Vargas Sanchez</h2>
	 		<p class="mb-0">Jugador de baloncesto</p>	 		
	 		<p class="mb-0">Seleccionado Chiapas y jugador de proyecto Tucanes de Chiapas.</p>	 		
	 		<p class="mb-0">Actualmente estudiante de nutrición</p>	 		
	 	</div>
	</div>
</div>